In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -0.473106
2011-01-05   -1.342399
2011-01-07    1.129909
2011-01-08    0.654203
2011-01-10   -0.109923
2011-01-12    0.703300
dtype: float64

In [4]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [8]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.504553
2000-01-02   -1.963909
2000-01-03    0.390597
2000-01-04   -0.020129
2000-01-05    1.413739
                ...
2002-09-22   -0.208054
2002-09-23   -0.480033
2002-09-24    1.126293
2002-09-25    0.672256
2002-09-26    1.086159
Freq: D, Length: 1000, dtype: float64

In [10]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    0.724435
2001-05-02    0.175239
2001-05-03   -1.510243
2001-05-04    0.897637
2001-05-05   -0.460674
2001-05-06   -1.050877
2001-05-07   -0.482740
2001-05-08   -2.576271
2001-05-09    1.366483
2001-05-10   -0.596178
2001-05-11   -0.453240
2001-05-12   -0.963586
2001-05-13    0.396467
2001-05-14    0.451077
2001-05-15    1.226281
2001-05-16    0.564782
2001-05-17   -1.328339
2001-05-18    0.192553
2001-05-19   -0.943222
2001-05-20    0.657970
2001-05-21   -0.902350
2001-05-22    1.530290
2001-05-23    0.090815
2001-05-24    1.850921
2001-05-25   -1.086311
2001-05-26   -0.955460
2001-05-27   -1.831674
2001-05-28    0.117967
2001-05-29    0.200668
2001-05-30   -0.013703
2001-05-31    0.356750
Freq: D, dtype: float64

In [12]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.504553
2000-01-02   -1.963909
2000-01-03    0.390597
2000-01-04   -0.020129
2000-01-05    1.413739
Freq: D, dtype: float64

In [14]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.953599
2000-02-02   -2.312572
2000-02-03    0.324332
2000-02-04    1.455745
2000-02-05    0.161812
2000-02-06    0.563112
2000-02-07   -0.057492
2000-02-08    1.814325
2000-02-09   -1.243540
2000-02-10    1.289050
2000-02-11   -0.222461
2000-02-12   -1.570047
2000-02-13    1.295047
2000-02-14    0.923870
2000-02-15    0.018591
Freq: D, dtype: float64

In [17]:
from datetime import datetime
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -1.292433
2000-09-27   -0.044502
2000-09-28    1.029805
2000-09-29    0.024217
2000-09-30    2.758387
                ...
2002-09-22   -0.208054
2002-09-23   -0.480033
2002-09-24    1.126293
2002-09-25    0.672256
2002-09-26    1.086159
Freq: D, Length: 731, dtype: float64