In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2020,1,5),
datetime(2020,1,10),
datetime(2020,1,15),
datetime(2020,1,20),
datetime(2020,1,25)]
ts = pd.Series(np.random.randn(5), index=dates)
print("\nWith this date object, create a series with datetime index:\n",ts)

With this date object, create a series with datetime index:
 2020-01-05    1.548655
2020-01-10    0.043509
2020-01-15    0.573101
2020-01-20   -1.737078
2020-01-25    0.873823
dtype: float64

In [5]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series \n", res)

Truncate method to truncate datetime series
 2020-01-05    1.548655
2020-01-10    0.043509
2020-01-15    0.573101
dtype: float64

In [7]:
da=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods.\n",da)

Date range with day periods.
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [9]:
import pandas as pd
import numpy as np
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [12]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [14]:
long_df=pd.DataFrame(np.random.randn(10,4),index=da,columns=list("ABCD"))
print("\nMulti-column DataFrame with datatime index:\n",long_df)

Multi-column DataFrame with datatime index:
                    A         B         C         D
2022-10-02  1.023898 -0.137556  0.451813 -1.983523
2022-10-09 -1.090070  0.352780 -2.212645  0.251715
2022-10-16 -0.497040 -1.486477  0.583326 -0.240975
2022-10-23  0.783212 -0.635860  0.921961 -0.175264
2022-10-30  1.011845  0.847008 -1.241895  0.104819
2022-11-06  0.649582 -0.850766  0.102523  1.900315
2022-11-13 -0.275404  0.269072 -0.488995  0.410265
2022-11-20  1.151505  0.528395 -0.432776  0.222908
2022-11-27  0.303593 -0.999627  0.300246 -0.278408
2022-12-04  0.973023  0.729483 -0.606856 -0.031646