In [3]:
import datetime
a=datetime.datetime.now()
print("today_nowfunction:",a)

today_nowfunction: 2025-04-11 05:06:37.179354

In [5]:
import datetime
today=datetime.datetime.today()
print("\ntoday:",today)

today: 2025-04-11 05:09:17.781369

In [10]:
import datetime
tomorrow=today+datetime.timedelta(days=3)
print("\ntomorrow:",tomarrow)

tomorrow: 2025-04-14 05:09:17.781369

In [8]:
import datetime
yesterday=today-datetime.timedelta(days=2)
print("\nyesterday:",yesterday)

yesterday: 2025-04-09 05:09:17.781369

In [13]:
# @title Default title text

import datetime
a=datetime.datetime.now()
b=datetime.datetime(2020,6,8,23,10,25,404040)
print("\ndate format [2020,6,8,23,10,25,404040):",b)

date format [2020,6,8,23,10,25,404040): 2020-06-08 23:10:25.404040

In [15]:
from datetime import date
d=date(2024, 12, 31)
print("\nReplacing date",d,d.replace(day=15))

Replacing date 2024-12-31 2024-12-15

In [17]:

t=date(2004,4,17)
d=date(2004,4,17).ctime()
print("\nDay and Month:",t,d)

Day and Month: 2004-04-17 Sat Apr 17 00:00:00 2004

In [19]:

today=date.today()
print("\nToday:",today)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:",today.day)

Today: 2025-04-11
Current year: 2025
Current month: 4
Current day: 11